.title {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 25px 10px 25px 10px;
}

.introduction {
  text-align: center;
  flex-wrap: wrap;
}

body {
  display: flex;
  flex-direction: column;

}

.wrapper {
  width: 90%;
}

.first-border {
  border: none;
  height: 5px;
  background: black;
  margin-bottom: -5px;
}

.second-third-border {
  height: 2px;
  background: black;
}

.second-border {
  margin-top: 25px;
}

.intro-text {
  margin-bottom: 40px;
}

input [type= text],
input [type= email],
input [type= tel] {
  background-color: grey;
}

.last-sentece {
  color: grey;
  text-align: center;
}

button {
  background: #20B2AA	;
  justify-content: center;
  border: none;
  border-radius: 5%;
  padding: 15px 70px 15px 70px;
  color: white;
  width: 50%;

}
