/* Top section (Introduction) */
.title {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 25px 10px 25px 10px;
}

.introduction {
  text-align: center;
  flex-wrap: wrap;
}
.intro-text {
  margin-bottom: 40px;
  color: grey;
}

/* basic styles */

body {
  /* display: flex;
  flex-direction: column; */
  width: 80%;

}

.wrapper {
  margin: auto;
  width: 80%;
}

form {


}

/* Line break borders */

.first-border {
  border: none;
  height: 5px;
  background: black;
  margin-bottom: -5px;
}

.second-third-border {
  height: 2px;
  background: black;
}

.second-border {
  margin-top: 25px;
}

/* Inside Form */
input[type= text],
input[type= email],
input[type= tel],
input[type= checkbox],
input[type= radio],
select {
  background-color: #E8E8E8;
  border: none;
  border-radius: 5%;
}

button {
  background: #20B2AA	;
  border: none;
  border-radius: 5%;
  padding: 15px 70px 15px 70px;
  color: white;
  width: 50%;
  display:block;
  margin: auto;
}

.bottom-form {


}

/* Bottom page (footer) */
.last-sentece {
  color: grey;
  text-align: center;
}
