/* Top section (Introduction) */
.title {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 25px 10px 25px 10px;
}

.introduction {
  text-align: center;

}
.intro-text {
  margin-bottom: 40px;
  color: grey;
}

/* basic styles */

body {
  margin: auto;
  font-family: 'Raleway', sans-serif;

}

fieldset {
  border: none;
}

legend {
  margin-top: 20px;
  font-size: 20px;
}

p {
  font-size: 17px;
}

form {
  width: 99%;
  max-width: 768px;
  padding: 0 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}



/* Line break borders */

.first-border {
  border: none;
  height: 5px;
  background: black;
  margin-bottom: -5px;
}

.second-third-border {
  height: 2px;
  background: black;
}

.second-border {
  margin-top: 25px;
}

/* Contact Information Form */


.contact-information {
  background-color: #FFFFCC;
}

.title-contact {
  margin-top: 30px;
}

input[type= text],
input[type= email],
input[type= tel],
input[type= checkbox],
input[type= radio],
select {
  background-color: #E8E8E8;
  border: none;
  border-radius: 5%;
  height: 50px;
  width: 95%;
  font-style: normal;
}



input:required {
  border: 1px solid red;
}

input[name=zip] {
  width: 40%;
}

label[for=name],
label[for=mail],
label[for=phone],
label[for=address],
label[for=city],
label[for=state],
label[for=zip] {
  margin-bottom: -3px;
  margin-top: 12px;
  display: block;
}

::placeholder {
  text-align: right;
  font-style: italic;
}

select {
  color: #999;
}

input {
 color: black;
  background-color: #E8E8E8;
  transition: background-color 1s ease-out;
}
input:focus {
  color: blue;
   background-color: #f4511e;
}


/* Newsletter form */

.newsletter {
  display: flex;
  flex-direction: row;
}

input[type=checkbox],
input[type=radio] {
  width: 20px;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

label[for=comment] {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 500px;

}

textarea {
  margin: 5px 0 10px 0;
}

/* Bottom page */

button {
  background: #20B2AA	;
  border: none;
  border-radius: 5%;
  padding: 20px 150px 20px 150px;
  color: white;
  display:block;
  margin: auto;
  font-size: 17px;
  font-weight: bold;
}

.last-sentece {
  color: grey;
  text-align: center;
}

textarea {
  width: 85%;
  justify-content: center;
  align-content: center;
}


/* media query */

@media (min-width: 768px) {


  input[type= text],
  input[type= email],
  input[type= tel],
  select
 {
    width: 80%;
  }

  input[id=zip] {
    width: 20%;
    padding: 0px;
    margin: 0px;
  }

  label[for=name],
  label[for=mail],
  label[for=phone],
  label[for=address],
  label[for=city],
  label[for=state],
  label[for=zip] {
    width: 20%;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }

.break {
  display: none;
}

textarea,
button {
  width: 100%;
}

legend {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

legend span {
  display: block;
  border-bottom: 2px;
  margin-top: 20px;
}

}
