/* Top section (Introduction) */
.title {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 25px 10px 25px 10px;
}

.introduction {
  text-align: center;
  flex-wrap: wrap;
}
.intro-text {
  margin-bottom: 40px;
  color: grey;
}

/* basic styles */

body {
  width: 80%;
  margin: auto;

}

fieldset {
  border: none;
}

legend {
  margin-top: 20px;
  font-size: 20px;
}

p {
  font-size: 17px;
}


/* Line break borders */

.first-border {
  border: none;
  height: 5px;
  background: black;
  margin-bottom: -5px;
}

.second-third-border {
  height: 2px;
  background: black;
}

.second-border {
  margin-top: 25px;
}

/* Contact Information Form */

.contact-information {
  background-color: #FFFFCC;
}

.title-contact {
  margin-top: 30px;
}

input[type= text],
input[type= email],
input[type= tel],
input[type= checkbox],
input[type= radio],
select {
  background-color: #E8E8E8;
  border: none;
  border-radius: 5%;
  height: 50px;
  width: 250px;
  font-style: normal;
}

input[name=user_name],
input[name=user_mail] {
  padding-right: 15px;
  width: 235px;
}

input:required {
  border: 1px solid red;
}

input[name=zip] {
  width: 150px;
}

label[for=name],
label[for=mail],
label[for=phone],
label[for=address],
label[for=city],
label[for=state],
label[for=zip] {
  margin-bottom: -3px;
  margin-top: 12px;
  display: block;
}

::placeholder {
  text-align: right;
  font-style: italic;
}

select {
  color: #999;
}

select:focus {
  color: black;
}

/* Newsletter form */

.newsletter {
  display: flex;
  flex-direction: row wrap;
}

input[type=checkbox],
input[type=radio] {
  width: 20px;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

label[for=comment] {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 500px;

}

textarea {
  margin: 5px 0 10px 0;
}

/* Bottom page */

button {
  background: #20B2AA	;
  border: none;
  border-radius: 5%;
  padding: 20px 150px 20px 150px;
  color: white;
  display:block;
  margin: auto;
  font-size: 17px;
  font-weight: bold;
}

.last-sentece {
  color: grey;
  text-align: center;
}


/* media query */

@media (min-width: 768px) {



.contact-information {
  display: flex;
  flex-direction: column;
}

  input[type= text],
  input[type= email],
  input[type= tel],
  select
 {
    width: 100%;

  }

  input[id=zip] {
    width: 200px;
  }

  label[for=name],
  label[for=mail],
  label[for=phone],
  label[for=address],
  label[for=city],
  label[for=state],
  label[for=zip] {
    display: flex;

    margin-right: 30px;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }



.break {
  display: none;
}

textarea,
button {
  width: 100%;
}

}
